[defaults]
inventory = ./inventory # 기본 인벤토리 위치
roles_path = ./roles    # roles 폴더 위치

host_key_checking = False # EC2 재생성/접속 시 known_hosts 경고로 막히는 걸 방지

stdout_callback = default # 기본 출력 포맷

deprecation_warnings = False
